.button, .modal__close-icon {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

body {
  font-family: Inter, sans-serif;
}

h1, h2, h3, h4, h5, .button {
  font-family: Merriweather, sans-serif;
}

.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px grey;
          box-shadow: inset 0 0 1px grey;
}

.modal::-webkit-scrollbar-thumb {
  background: #b1b1ee;
  border-radius: 10px;
}

/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@font-face {
  font-family: Merriweather;
  src: url("../assets/fonts/MerriweatherSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

html,
body {
  font-size: 10px;
  /* @include media-tabletsmall {
    overflow-x: hidden;
    position: relative;
  } */
}

body {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1fr auto;
      grid-template-rows: 100px 1fr auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  min-height: 100vh;
  gap: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(40%, #0f4387), color-stop(80%, #5fc0ff));
  background: linear-gradient(90deg, #000000 0%, #0f4387 40%, #5fc0ff 80%);
}

h1 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.52rem;
  color: #5fc0ff;
  letter-spacing: 0.06em;
}

h2 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.72rem;
  color: #ffffff;
}

@media (max-width: 425px) {
  h2 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.25rem;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.55rem;
  letter-spacing: 0.06em;
  color: #0000004d;
}

@media (max-width: 425px) {
  h3 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.25rem;
  }
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #0000004d;
}

h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65rem;
  letter-spacing: 0.06em;
  color: #0000004d;
}

.block-shadowed {
  -webkit-box-shadow: 0 0 10px #0000004d;
          box-shadow: 0 0 10px #0000004d;
  /*   border-radius: 9px; */
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes showPopup {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes showPopup {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.button {
  padding: 13px 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.21rem;
  letter-spacing: 0.06em;
  border-radius: 100px;
  cursor: pointer;
}

.button_bordered {
  background: #ffffff;
  border: 2px solid #5fc0ff;
  color: #000000;
}

.button_bordered:hover {
  background: #5fc0ff;
  border-color: #5fc0ff;
}

.button_colored {
  background: #5fc0ff;
  color: #000000;
  border: 2px solid #5fc0ff;
}

.button_colored:hover {
  background: #5fc0ff;
  border-color: #5fc0ff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.logo__title {
  margin: 0 0 10px;
  color: #ffffff;
}

.logo__subtitle {
  color: #000000;
}

.overlay,
.modal-overlay {
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #29292999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-animation: show 0.7s ease-in-out;
          animation: show 0.7s ease-in-out;
}

.modal {
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  -webkit-animation: showPopup 0.5s ease-in-out;
          animation: showPopup 0.5s ease-in-out;
}

.modal__close-icon {
  position: absolute;
  z-index: 250;
  top: -52px;
  right: -42px;
  border-radius: 100px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .modal__close-icon {
    right: -28px;
  }
}

.modal__close-icon.active {
  background-color: #5fc0ff;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 425px) {
  .wrapper {
    padding: 0 10px;
  }
}

.header {
  /* position: absolute;
  z-index: 10;
  width: 100%;
  padding: 60px 0;
  @include media-tablet {
    padding: 30px 0;
  }
  @include media-mobile {
    padding-right: 43px;
  } */
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.layout-4-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-4-column > * {
  -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
}

.layout-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-3-column > * {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.layout-2-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-2-column > * {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.footer__content {
  padding: 30px 0;
  font-size: 2.5rem;
}

.footer__copy {
  color: #ffffff;
}

.footer__copy span {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer__copy span {
    margin-right: 5px;
  }
}

.footer__copy a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__copy a:hover {
  color: #000000;
}

@media (max-width: 768px) {
  .footer__copy a {
    margin-right: 0;
  }
}

.footer__rss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__rss a {
  color: #000000;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__rss a:hover {
  color: #ffffff;
}

.keyboard__wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 50px;
}

.keyboard__textarea {
  height: 300px;
  padding: 20px;
  resize: none;
  color: #ffffff;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65rem;
  border: 3px solid #ffffff;
  border-radius: 10px;
  background: transparent;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

.keyboard__textarea:focus {
  outline: none;
  border: 3px solid #5fc0ff;
}

.keyboard__note {
  padding: 5px;
  color: #ffffff;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65rem;
}

.keyboard__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[15];
      grid-template-columns: repeat(15, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  width: 900px;
  height: 300px;
  padding: 10px;
  background: #ffffff;
  border: 3px solid #000000;
  border-radius: 10px;
}

.keyboard__container::before, .keyboard__container::after {
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: 10px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  top: -1.5px;
  left: -1.5px;
  background: linear-gradient(45deg, #fc0090, #0000ff, #00ff00, #ff0000, #ffff00, #fc0090, #0000ff, #00ff00, #ff0000, #ffff00);
  background-size: 400%;
  -webkit-animation: border 25s linear infinite;
          animation: border 25s linear infinite;
}

.keyboard__container::after {
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.65rem;
  border-radius: 5px;
  background: #5fc0ff;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.key:hover {
  color: #ffffff;
  background: #0f4387;
}

.key:active {
  color: #ffffff;
  background: #0c2f5f;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.key-special {
  grid-column: span 2;
}

.key-special:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.key-unique {
  grid-column: span 7;
}

.key-unique:active {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@-webkit-keyframes border {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 400%;
  }
}

@keyframes border {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 400%;
  }
}

@-webkit-keyframes swap {}

@keyframes swap {}@-webkit-keyframes shift {}@keyframes shift {}
/*# sourceMappingURL=index.css.map */